
# Function
snippet fu
	function ${1:function_name}(${2}) {
		${3}
	}

#anonymous function
snippet af
	function (${1}) {
		${2}
	}

snippet clos
	(function () { 
		${1}
	}());

snippet log
	console.log(${1})

snippet define
	define([${1}], function (${2}) {
		${3}
	});

snippet req
	require([${1}], function (${2}) {
		${3}
	});
