[submodule "repos/vim-markdown"]
	path = repos/vim-markdown
	url = git@github.com:bigfish/vim-markdown.git
[submodule "repos/vim-nodelint"]
	path = repos/vim-nodelint
	url = https://github.com/bigfish/vim-nodelint.git
[submodule "repos/vim-js-beautify"]
	path = repos/vim-js-beautify
	url = https://github.com/bigfish/vim-js-beautify.git
[submodule "repos/vim4js"]
	path = repos/vim4js
	url = https://github.com/bigfish/vim4js.git
[submodule "repos/nerdcommenter"]
	path = repos/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "repos/vim-fugitive"]
	path = repos/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "repos/nerdtree"]
	path = repos/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "repos/vim-powerline"]
	path = repos/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
