describe('when rendered', function () {

    var view;

    beforeEach(function () {
        view = new this.${1:control}({
            id: this.$1.viewId
        });
        $("#scaffold").append(view.getDom());
    });

});
